<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>State U</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="https://stackpath.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/rkt-lib/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/rkt-lib/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/rkt-lib/bootstrap/ico/apple-touch-icon-57-precomposed.png">
  </head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">

  <!-- Navbar
    ================================================== -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">State U - School of Film and Cinema</a>
          <div class="nav-collapse">

          </div>
        </div>
      </div>
    </div>

<div class="container">

<div class="row">

  <ul class="breadcrumb">
    <li><a href="/">Main</a> <span class="divider">/</span></li>
    <li><a href="/q">Qry</a> <span class="divider">/</span></li>
    <li class="active">Parameter</li>
  </ul>

   <form method=post action="/q" id="the-form" class="well form-inline">

    {% for token in tokens %}
      {{ token|safe }}
    {% endfor %}
      <button type="submit" id="the-button" class="btn">Run</button>
   </form>

</div>
     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
      </footer>

</div>
<!-- container -->
</body></html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<script>

$(function() {
   
   $("form:not(.filter) :input:visible:enabled:first").focus();

});


</script>


