<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>State U</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="https://stackpath.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

<style type="text/css">
#main-out {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -30px;
  /* must to show the last rows */
  padding-bottom: 30px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 30px;
  background-color: #f5f5f5;
  position: fixed;;
  bottom: 0px;
}

table.tablesorter {
  background-color: #eee;
  color: #666;
  font-weight: bold;
  cursor: default;
}
</style>


</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">State U - School of Film and Cinema</a>
        <ul class="nav">
          <li><a href="#" id="csv-btn"> CSV </a></li>
          <li><a href="#" id="html-btn"> HTML </a></li>
          <li><a href="#" id="json-btn"> JSON </a></li>
        </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="row" id="main-out">

    <ul class="breadcrumb">
      <li><a href="/">Main</a> <span class="divider">/</span></li>
      <li class="active">Qry</li>
    </ul>

    <form method=post action="/q" id="qry-form" class="form-search">
      <div class="input-append">
      <!-- html5 autocomplete interferes with typeahead -->
      <input 
      type="text" autocomplete="off"
      id="qry-input" name="qry" value="{{qry}}"
      class="span10 input-medium search-query" 
      style="margin: 0 auto;" 
      data-provide="typeahead" 
      data-items="50" 
      data-source='["abc", "efg"]'>

      <button type="submit" class="btn" id="run-button">Search</button>
      </div>
    </form>


    <table id="the-table" class="table table-striped table-bordered table-condensed ">
      <thead id="the-thead">
      </thead>
      <tbody id="the-tbody">
      </tbody>
    </table>

    <textarea id="alt-out" class="input-xxlarge" cols=100 rows=50 style="display:none"></textarea>

  </div>


<!-- Footer
================================================== -->
<footer class="footer">
<span class="pull-right"><a href="#">Back to top</a></span>
</footer>


</div><!-- container -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="/tablesorter.js"></script>

<script>

var qrys = [
{% for qry in qrys %}
  "{{ qry }}",
{% endfor %}  
];
var result = [
{% for result in results %}
[
  {% for col in row %}
    "{{col}}",
  {% endfor %}
],
{% endfor %} 
];

var wrap = function (before, middle, after ) {
  return before + middle + after;
};

var tr = function (items) {
    return wrap("<tr>", $.map(items, function (col) {
      return wrap("<td>", col, "</td>");
    }).join(""), "</tr>");
};

var write_tbody = function () {
  if (1 < result.length) {
    $("#the-tbody").html( $.map(result.slice(1), function (row) {
      return tr(row);
    }).join("") );
  }
};

var write_thead = function () {
  if (0 < result.length) {
    var head =  wrap("<tr>", $.map(result[0], function (col) {
      return wrap("<th>", col, "</th>");
    }).join(""), "</tr>");

    $("#the-thead").html( head );
  }
};

var show_result_as_table = function () {
  write_thead();
  write_tbody();
};

var hide_result_as_table = function () {
    $("#the-thead").html("");
    $("#the-tbody").html("");
};

var rows = function () {
  return result; 
};

var json = function  () {
  $("#alt-out").val(JSON.stringify( rows() ));
  hide_result_as_table();
};

// convert table to CSV
var csv = function  (sep) {
  sep = sep ? sep : ",";
  console.log(sep);

  var _rows = [];
  $.each(rows(), function (r, row) {
    _rows.push(row.join(","));
  });

  $("#alt-out").val(_rows.join("\n"));
};

var html = function () {
  show_result_as_table();
};


$(function() {

  // from https://github.com/twitter/bootstrap/issues/1997
  var ta = $('input').typeahead();
  ta.data('typeahead').source = qrys;
    
  $("#qry-input").focus();

  $("#csv-btn").click(function (e) {
    csv();
    $("#alt-out").show();
    hide_result_as_table();
  });

  $("#html-btn").click(function (e) {
    html();
    $("#alt-out").hide();
  });

  $("#json-btn").click(function (e) {
    json();
    $("#alt-out").show();
    hide_result_as_table();
  });

  show_result_as_table();

  //from http://tablesorter.com/docs
  // http://tablesorter.com/docs/example-ajax.html
  $("#the-table").tablesorter(); 
  //$("#the-table").trigger("update"); 
  // set sorting column and direction, this will sort on the first and third column 
  //var sorting = [[2,1],[0,0]]; 
  // sort on the first column 
  //$("table").trigger("sorton",[sorting]); 


});




</script>
</body></html>

